@font-face {
  font-family: "iA Writers QuattroS Regular";
  src: url("./assets/iAWriterQuattroS-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  background: black;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.allHover {
  color: #d4d4d4;
  text-decoration: none;
  font-size: 1rem;
}

.allHover:hover {
  color: red;
  text-decoration: none;
}

.allHover:visited {
  text-decoration: none;
}

li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  width: 20vw;
  color: #d4d4d4;
}

.divBlock {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1000px;
  min-height: 200px;
  margin: 90px auto 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-left{
  position: relative;
  z-index: 1;
  display:-webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.heading{
  position: static;
  z-index: 1;
  padding-left: 20px;
  color: #d4d4d4;
  font-weight: 500;
}

.horizontal-bar{
  width: 120px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #d4d4d4;
}

.section{
  padding: 40px;
}

.section.hero-section{
  display:-webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-bottom: -90px;
  padding-bottom: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-right{
  position: absolute;
  right: 0px;
  width: 800px;
  height: 450px;
  padding-left: 410px;
  text-align: left;
}

.hero-image{
  position: absolute;
  right: 0px;
  width: 60%;
  height: 100%;
  background-image: url(./images/logo.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.naviBar{
  position: absolute;
  left: 10vw;
  top: 3vh;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.intro {
  display:-webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #d4d4d4;
}

.bio {
  display: block;
  margin: 2rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  width: 38rem;
  font-size: 1rem;
}


.container {
  padding-top: 2rem;
  margin: auto 0;
}

.grid {
  width: 80%;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  grid-column-gap: 6rem;
  margin: 0 auto;
  align-items: left;
  justify-content: center;
}

#craigslist {
  mix-blend-mode: multiply;
  opacity: 1;
  height: 15rem;
  width: auto;
  object-fit: cover;
  content: url(./assets/matt.jpg);
}

#craigslist:hover {
  opacity: 0.5;
}

#toybox {
  mix-blend-mode: multiply;
  opacity: 1;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  content: url(./assets/bunny.png);
}

#toybox:hover {
  opacity: 0.5;
}

#expressive {
  font-family: "iA Writers QuattroS Regular";
  mix-blend-mode: multiply;
  height: 15rem;
  width: 15rem;
  font-size: 4rem;
  text-align: left;
  color: #600000;
  font-weight: 700;
}

#expressive:hover {
  color: red;
}

#studio1 {
  content: url(./assets/moth.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#studio1:hover {
  opacity: 0.5;
}

#calendar {
  content: url(./assets/bananaDemon.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#calendar:hover {
  opacity: 0.5;
}

#punctuation {
  content: url(./assets/periodIcon.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#punctuation:hover {
  opacity: 0.5;
}

#aesthetic {
  content: url(./assets/pinkClouds.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#aesthetic:hover {
  opacity: 0.5;
}

#miniCol {
  content: url(./assets/stubby.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#miniCol:hover {
  opacity: 0.5;
}

#zine {
  content: url(./assets/bananaCroc.PNG);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#zine:hover {
  opacity: 0.5;
}

#studio3 {
  content: url(./assets/classicMickey.jpeg);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
}

#studio3:hover {
  opacity: 0.5;
}

#cat {
  content: url(./assets/cat.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#cat:hover {
  opacity: 0.5;
}

#cinderella {
  content: url(./assets/cinderella.jpg);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#cinderella:hover {
  opacity: 0.5;
}

#desertStubby {
  content: url(./assets/desertStubby.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#desertStubby:hover {
  opacity: 0.5;
}

#devilCore {
  content: url(./assets/devilCore2.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#devilCore:hover {
  opacity: 0.5;
}

#fairyCore {
  content: url(./assets/fairyCore1.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#fairyCore:hover {
  opacity: 0.5;
}

#goliath {
  content: url(./assets/goliath.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#goliath:hover {
  opacity: 0.5;
}

#hiromi {
  content: url(./assets/hiromi.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#hiromi:hover {
  opacity: 0.5;
}

#mike {
  content: url(./assets/mike.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#mike:hover {
  opacity: 0.5;
}

#pea {
  content: url(./assets/pea.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#pea:hover {
  opacity: 0.5;
}

#redCroc {
  content: url(./assets/redCroc.png);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#redCroc:hover {
  opacity: 0.5;
}

#vaporwave {
  content: url(./assets/vaporwave1.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#vaporwave:hover {
  opacity: 0.5;
}

#spaceCore {
  content: url(./assets/spaceCore8.jpg);
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  display: none;
}

#spaceCore:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 411px) and (max-width: 960px) {
  
    .bio {
      width: 80vw;
      font-size: 1rem;
    }
  
    .line {
      top: 15rem;
    }
  
    .grid {
      margin-left: 3rem;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5rem;
      grid-column-gap: 2rem;
      margin-bottom: 2rem;
    }
  
    #craigslist {
      height: 10rem;
      width: 10rem;
    }
  
    #toybox {
      height: 10rem;
      width: 10rem;
    }
  
    #expressive {
      height: 10rem;
      width: 10rem;
      font-size: 2.5rem;
    }
  
    #studio1 {
      height: 10rem;
      width: 10rem;
    }
  
    #calendar {
      height: 10rem;
      width: 10rem;
    }
  
    #punctuation {
      height: 10rem;
      width: 10rem;
    }
  
    #aesthetic {
      height: 10rem;
      width: 10rem;
    }
  
    #miniCol {
      height: 10rem;
      width: 10rem;
    }
  
    #zine {
      height: 10rem;
      width: 10rem;
    }
  
    #studio3 {
      height: 10rem;
      width: 10rem;
    }
  
    #cat {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #cinderella {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #desertStubby {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #devilCore {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #fairyCore {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #goliath {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #hiromi {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
    #mike {
      height: 10rem;
      width: 10rem;
      display: block;
    }
  
  }

@media only screen and (max-width: 411px) and (min-width: 375px) {
  .headline {
    font-size: 2rem;
  }

  .bio {
    width: 22rem;
    font-size: 1rem;
  }

  .line {
    top: 15rem;
  }

  .grid {
    margin-left: 3rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }

  #craigslist {
    height: 10rem;
    width: 10rem;
  }

  #toybox {
    height: 10rem;
    width: 10rem;
  }

  #expressive {
    height: 10rem;
    width: 10rem;
    font-size: 2.5rem;
  }

  #studio1 {
    height: 10rem;
    width: 10rem;
  }

  #calendar {
    height: 10rem;
    width: 10rem;
  }

  #punctuation {
    height: 10rem;
    width: 10rem;
  }

  #aesthetic {
    height: 10rem;
    width: 10rem;
  }

  #miniCol {
    height: 10rem;
    width: 10rem;
  }

  #zine {
    height: 10rem;
    width: 10rem;
  }

  #studio3 {
    height: 10rem;
    width: 10rem;
  }

  #cat {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #cinderella {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #desertStubby {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #devilCore {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #fairyCore {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #goliath {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #hiromi {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #mike {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #pea {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #redCroc {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #vaporwave {
    height: 10rem;
    width: 10rem;
    display: block;
  }

  #spaceCore {
    height: 10rem;
    width: 10rem;
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .headline {
    font-size: 2rem;
  }

  .bio {
    width: 18.5rem;
    font-size: 1rem;
  }

  .line {
    top: 16.5rem;
  }

  .grid {
    margin-left: 2.5rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }

  #craigslist {
    height: 8rem;
    width: 8rem;
  }

  #toybox {
    height: 8rem;
    width: 8rem;
  }

  #expressive {
    height: 8rem;
    width: 8rem;
    font-size: 2rem;
  }

  #studio1 {
    height: 8rem;
    width: 8rem;
  }

  #calendar {
    height: 8rem;
    width: 8rem;
  }

  #punctuation {
    height: 8rem;
    width: 8rem;
  }

  #aesthetic {
    height: 8rem;
    width: 8rem;
  }

  #miniCol {
    height: 8rem;
    width: 8rem;
  }

  #zine {
    height: 8rem;
    width: 8rem;
  }

  #studio3 {
    height: 8rem;
    width: 8rem;
  }

  #cat {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #cinderella {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #desertStubby {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #devilCore {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #fairyCore {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #goliath {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #hiromi {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #mike {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #pea {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #redCroc {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #vaporwave {
    height: 8rem;
    width: 8rem;
    display: block;
  }

  #spaceCore {
    height: 8rem;
    width: 8rem;
    display: block;
  }
}
