@font-face {
    font-family: "iA Writers QuattroS Regular";
    src: url("./assets/iAWriterQuattroS-Regular.woff2") format("woff2");
  }

body {
    margin: 0;
    background: white;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.headline {
    display: block;
    font-size: 2.6rem;
    color: black;
    margin: 2rem;
    margin-bottom: 1rem;
}

.allHover{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.allHover:hover{
    color: red;
    text-decoration: none;
}

.allHover:visited{
    text-decoration: none;
}

.bio{
    display: block;
    margin: 2rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    width: 38rem;
    font-size: 1rem;
}

.line{
    position: absolute;
    border-bottom: 2px solid black;
    width: 80vw;
    margin: 2rem;
    top: 12.5rem;
}

.container{
    padding-top: 2rem;
    margin: auto 0;
}

.grid {
    width: 80%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
    grid-column-gap: 6rem;
    margin: 0 auto;
    align-items: left;
    justify-content: center;
  }

#craigslist{
    mix-blend-mode: multiply;
    opacity: 1;
    height: 15rem;
    width: auto;
    object-fit: cover;
    content: url(./assets/matt.jpg);
}

#craigslist:hover{
    opacity: 0.5;
}

#toybox{
    mix-blend-mode: multiply;
    opacity: 1;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    content: url(./assets/bunny.png);
}

#toybox:hover{
    opacity: 0.5;
}

#expressive{
    font-family: "iA Writers QuattroS Regular";
    mix-blend-mode: multiply;
    height: 15rem;
    width: 15rem;
    font-size: 4rem;
    text-align: left;
    color: #600000;
    font-weight: 700;
}

#expressive:hover{
    color: red;
}

#studio1{
    content: url(./assets/moth.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#studio1:hover{
    opacity: 0.5;
}

#calendar{
    content: url(./assets/bananaDemon.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#calendar:hover{
    opacity: 0.5;
}

#punctuation{
    content: url(./assets/periodIcon.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#punctuation:hover{
    opacity: 0.5;
}

#aesthetic{
    content: url(./assets/pinkClouds.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#aesthetic:hover{
    opacity: 0.5;
}

#miniCol{
    content: url(./assets/stubby.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#miniCol:hover{
    opacity: 0.5;
}

#zine{
    content: url(./assets/bananaCroc.PNG);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#zine:hover{
    opacity: 0.5;
}

#studio3{
    content: url(./assets/classicMickey.jpeg);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#studio3:hover{
    opacity: 0.5;
}

#cat{
    content: url(./assets/cat.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#cat:hover{
    opacity: 0.5;
}

#cinderella{
    content: url(./assets/cinderella.jpg);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#cinderella:hover{
    opacity: 0.5;
}

#desertStubby{
    content: url(./assets/desertStubby.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#desertStubby:hover{
    opacity: 0.5;
}

#devilCore{
    content: url(./assets/devilCore2.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#devilCore:hover{
    opacity: 0.5;
}

#fairyCore{
    content: url(./assets/fairyCore1.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#fairyCore:hover{
    opacity: 0.5;
}

#goliath{
    content: url(./assets/goliath.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#goliath:hover{
    opacity: 0.5;
}

#hiromi{
    content: url(./assets/hiromi.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#hiromi:hover{
    opacity: 0.5;
}

#mike{
    content: url(./assets/mike.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#mike:hover{
    opacity: 0.5;
}

#pea{
    content: url(./assets/pea.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#pea:hover{
    opacity: 0.5;
}

#redCroc{
    content: url(./assets/redCroc.png);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#redCroc:hover{
    opacity: 0.5;
}

#vaporwave{
    content: url(./assets/vaporwave1.jpg);
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    opacity: 1;
    mix-blend-mode: multiply;
}

#vaporwave:hover{
    opacity: 0.5;
}